<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blogs</title>
</head>
<body>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        Possimus praesentium obcaecati cupiditate ratione quidem quod fugiat corporis, ab esse nulla et neque dolorum id accusamus,
         similique officia suscipit sed molestias?</p>

     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
         Beatae in cumque animi libero eius suscipit eligendi mollitia minima laborum! 
         Laudantium enim numquam ratione eveniet sint. Vero sequi inventore consectetur sunt?</p>    
    
</body>
</html>